<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Artsy Auth</title>
  </head>
  <body style="display: none;">
    <%= button_to 'Log in via Artsy', '/auth/artsy', form: { id: 'artsy-auth-login-form' } %>
    <script>
      document.getElementById('artsy-auth-login-form').submit()
    </script>
  </body>
</html>
